{% url 'homepage' as home_url %}
{% comment %} {% url 'contact' as contact_url %} {% endcomment %}
{% url 'blog:blog-list' as blog_url %}
{% url 'blog:category-list' as category_url %}

<nav
  class="navbar navbar-expand-lg fixed-top navbar-dark bg-transparent"
  aria-label="Main navigation"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="#">acekavi.me</a>
    <button
      class="navbar-toggler p-0 border-0"
      type="button"
      id="navbarSideCollapse"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-uppercase">
        <li class="nav-item">
          <a class="nav-link {% if request.path == home_url %} active {%endif%}" href="{{ home_url }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.path == blogList_url %} active {%endif%}" href="/projects">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.path == blogList_url %} active {%endif%}" href="/designs">Designs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.path == blog_url %} active {%endif%}" href="{{ blog_url }}">Blog</a>
        </li>

        {% if navBlog or catList.navBlog %}
        
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href=""
            id="category-list"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            >Category</a
          >
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="category-list">
            {% for category in category_list %}
            <li><a class="dropdown-item" href="{% url 'blog:category-list' slug=category.name %}">
                  {{ category.name|title }}
            </a></li>
            {% endfor %}
          </ul>
        </li>
      </ul>
      <form class="d-flex dropdown" method="GET" action="{% url 'blog:search-list' %}">
        <input
          class="form-control me-2 text-lightest bg-dark"
          type = "search"
          name = "q"
          placeholder = "Search"
          aria-label = "Search"
          autocomplete="off"
          required
        />

        <button class="btn btn-outline-light" type="submit">Search</button>
      </form>
    </div>

    {% endif %}
  </div>
</nav>
