<nav
  class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark"
  aria-label="Main navigation"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="#">acekavi.me</a>
    <button
      class="navbar-toggler p-0 border-0"
      type="button"
      id="navbarSideCollapse"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link {{ home_page }}" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{ projects_page }}" href="/projects">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{ designs_page }}" href="/designs">Designs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{ blog_page }}" href="/blog">Blog</a>
        </li>

        {% if blog_page == 'active' or catList.blog_page == 'active' %}
        
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle {{ catList.blog_page }}"
            href=""
            id="category-list"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            >Category</a
          >
          <ul class="dropdown-menu" aria-labelledby="category-list">
            {% for category in category_list %}
            <li><a class="dropdown-item" href="/blog/filter/{{ category.name}}">
                  {{ category.name|title }}
            </a></li>
            {% endfor %}
          </ul>
        </li>
      </ul>
      <form class="d-flex">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>

    {% endif %}
  </div>
</nav>
