@media (max-width: 991.98px) {
    .offcanvas-collapse {
      position: fixed;
      top: 56px; /* Height of navbar */
      bottom: 0;
      left: 100%;
      width: 100%;
      padding-right: 1rem;
      padding-left: 1rem;
      overflow-y: auto;
      visibility: hidden;
      background-color: #343a40;
      transition: transform .3s ease-in-out, visibility .3s ease-in-out;
    }
    .offcanvas-collapse.open {
      visibility: visible;
      transform: translateX(-100%);
    }
  }

.IconContainer {
  cursor: pointer;
  &:hover {
    .hambars {
      width: 25px;
      background-color: $primaryColor;
    }
  }
  width: 25px;
}

.hambars {
  height: 2px;
  background-color: $secondaryColor;
  margin: 6px 0;
  transition: 0.4s;
}

.hambars:nth-child(1) {
  width: 8px;
}
.hambars:nth-child(2) {
  width: 20px;
}
.hambars:nth-child(3) {
  width: 15px;
}

.change .hambars:nth-child(1) {
  width: 25px;
  transform: rotate(-45deg) translate(-5px, 6px);
}

.change .hambars:nth-child(2) {
  width: 25px;
  opacity: 0;
}

.change .hambars:nth-child(3) {
  width: 25px;
  transform: rotate(45deg) translate(-5px, -6px);
}