.halfImg{
  background-image: url('https://images.pexels.com/photos/997443/pexels-photo-997443.jpeg') !important;
  background-image: initial;
  background-position: right center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
} 

.container-full{
  max-width: 100%;
}