$monoFont: 'Zilla Slab', serif;
$cursiveFont: 'Italianno', cursive;
$headingsFont: 'Reem Kufi Fun', sans-serif;

$primaryColor: rgb(255, 255, 255);
$secondaryColor: rgba(255, 255, 255, 0.47);

@import 'navbar';
@import 'blog';
@import 'user';
@import 'styles';
@import 'home';
@import 'designs';
@import 'loader';
