@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playfair+Display:ital,wght@0,400;1,400;1,500;1,600&family=Square+Peg&family=Zilla+Slab:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jura:wght@500;600&display=swap");
@import url(//db.onlinewebfonts.com/c/87ecffe673e64603bc5ac34c7b7eb611?family=ITC+Mendoza+Roman);
@media (max-width: 991.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px; /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #343a40;
    transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }
  .offcanvas-collapse.open {
    visibility: visible;
    transform: translateX(-100%);
  }
}
.IconContainer {
  cursor: pointer;
  width: 25px;
}
.IconContainer:hover .hambars {
  width: 25px;
  background-color: rgb(255, 255, 255);
}

.active {
  border-bottom: 1px solid aliceblue;
  padding-bottom: 5%;
}

.hambars {
  height: 2px;
  background-color: rgba(255, 255, 255, 0.47);
  margin: 6px 0;
  transition: 0.4s;
}

.hambars:nth-child(1) {
  width: 8px;
}

.hambars:nth-child(2) {
  width: 20px;
}

.hambars:nth-child(3) {
  width: 15px;
}

.change .hambars:nth-child(1) {
  width: 25px;
  transform: rotate(-45deg) translate(-5px, 6px);
}

.change .hambars:nth-child(2) {
  width: 25px;
  opacity: 0;
}

.change .hambars:nth-child(3) {
  width: 25px;
  transform: rotate(45deg) translate(-5px, -6px);
}

.details-banner-img {
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

.image-container {
  position: relative;
}
.image-container .half-image {
  position: fixed;
  right: 0%;
  -o-object-fit: fill;
     object-fit: fill;
  height: 100%;
  z-index: -99;
}

.container-full {
  max-width: 100%;
}

.bg-darkest {
  background-color: #121212 !important;
}

.bg-darker {
  background-color: #181818 !important;
}

.bg-dark {
  background-color: #1B1B1B !important;
}

.text-lightest {
  color: rgb(255, 255, 255) !important;
}

.text-lighter {
  color: rgba(255, 255, 255, 0.87) !important;
}

.text-light {
  color: rgba(255, 255, 255, 0.6) !important;
}

.text-read {
  color: #9c9c9c !important;
}

body {
  overflow-x: hidden;
}

.quote::after {
  font-family: Arial;
  content: "”";
  font-weight: 600;
  font-size: larger;
}
.quote::before {
  font-family: Arial;
  content: "“";
  font-weight: 600;
  font-size: larger;
}

.monofont {
  font-family: "Zilla Slab", serif !important;
}

.decorativefont {
  font-family: "Playfair Display", serif !important;
}

.grafitifont {
  font-family: "ITC Mendoza Roman";
}

.homeBtns a {
  border-right: 2px rgb(255, 255, 255) solid;
  color: rgba(255, 255, 255, 0.47);
  border-radius: 0;
  font-size: 1rem;
  padding: 0.3rem 0.7rem;
}
.homeBtns a:hover {
  color: rgb(255, 255, 255);
  border-radius: 0;
  border: none;
  border-right: 2px rgb(255, 255, 255) solid;
}
.homeBtns a:last-child {
  border: none;
}

.client-logo {
  filter: grayscale(1);
}

.alteredBG {
  background-position: center right !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.full-height {
  height: 75vh;
}/*# sourceMappingURL=main.css.map */