{% extends "layouts/base.html" %} 
{% load static %} 
{% block title %}{{ catList.cat }}{% endblock %}
{% block content %}
<div class="container py-4">
	<header class="pb-3 mb-4 border-bottom">
	<div class="d-flex align-items-center text-lightest text-decoration-none">
		<i class="fa-solid fa-signs-post fa-xl me-2"></i>
		<span class="fs-4 text-uppercase">Explore more on {{ catList.cat }}</span>
	</div>
	</header>

	<div class="row align-items-md-stretch">
		{% for post in catList.posts %}
			{% include 'blog/blog-post.html' %}
		{% endfor %}
	</div>

	
</div>
{% endblock %}