{% extends "layouts/base.html" %} 
{% load static %} 
{% block title %}All Blogs{% endblock %}
{% block content %}
<div class="container py-4">
	<header class="pb-3 mb-4 border-bottom">
	<div class="d-flex align-items-center text-decoration-none text-white">
		<i class="fa-solid fa-signs-post fa-xl me-2"></i>
		<span class="fs-4 text-uppercase">All posts</span>
	</div>
	</header>

	<div class="p-5 mb-4 bg-darker rounded-3 shadow-4">
	<div class="container-fluid py-5">
		<h1 class="display-5 fw-bold text-lightest">All blog posts</h1>
		<p class="col-md-8 fs-4 text-light">With hopes of documenting everything I learn.</p>
	</div>
	</div>

	<div class="row align-items-md-stretch">
		{% for post in posts %}
			{% include 'blog/blog-post.html' %}
		{% endfor %}
	</div>

	<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
</div>
{% endblock %}